<div class="container mx-auto my-3">
      <div>
        <div class="my-3 float-left col-lg-12">
          <h4 class="title">
            Training List
          </h4>
      
        </div>

      </div>
<ul class="my-3 col-lg-12">
  <li *ngFor="let training of TrainingList; let i = index">
   <h5> <a [routerLink]="['/trainingform',training?.id]">Training Name: {{training?.training}}</a></h5>
    <p><b>Trainers:</b> {{training?.trainers}} </p>
    <p><b>Location:</b> {{training?.location}} </p>
    <p><b>Date:</b> {{training?.training_date}} </p>
  </li>
</ul>

</div>